<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />		
	</startup>
	<appSettings>
		<add key="Token" value="686bfec5-a9d6-4dc7-be85-97b7b6fe1e01" />
		<add key="Url" value="https://api.mediashuttle.com/v1/portals/33f95fc0-bedb-492d-95d7-bba7fa22288d/users" />
		<add key="Days" value="60" />
	</appSettings>

</configuration>